<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" packagingData="true">

	<logger name="net.dv8tion.jda" level="WARN"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        	<!--Switch between these two lines for more or less verbosity in the logging.-->
            <!--<pattern>%highlight(%-5level) %cyan(%date{HH:mm:ss.SSS, ${LOGGING_TIMEZONE}}) \(%file:%line\) [%white(%thread)] %blue(%marker) {%magenta(%mdc)} %green(%logger): %message%n%rootException</pattern>-->
            <pattern>%highlight(%-5level) %cyan(%date{HH:mm:ss.SSS, ${LOGGING_TIMEZONE}}) %magenta(%X{profile}) \(%file:%line\): %message%n%rootException</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="Console" />
    </root>
</configuration>
